html, body, .main {
	height: 100vh;
}

.background {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('https://i.scdn.co/image/ddde54f8e79714523603388c3f76d136539bdb56');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
	z-index: -10;
	filter: brightness(.5);
	filter: blur(10px);
	-webkit-filter: brightness(.5);
	-webkit-filter: blur(10px);
	-moz-filter: brightness(.5);
	-moz-filter: blur(10px);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0,.7);
	z-index: -1;
}

/*div {
	border: red 1px dashed;
}*/

.row {
	padding: 0;
	margin: 0;
}

.main {
	margin: 3%;
}

.lyric-container {
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (min-width: 1000px) {
	.title-row {
		height: 20%;
	}

	.app {
		height: 80%;
	}

	.lyric-container {
		font-size: 3em;
	}
}

.grey-background {
	background: rgba(0,0,0,.5);
	color: #ddd;
}

.subtitle {
	font-size: 1em;
}

.main {
	height: 100%;
	margin: 0;
	padding: 1%;
}

.album-art {
	margin 0;
	padding: 1% 0 0 0;
	height: 85%;
}

.song-info {
	height: 10%;
}

img {
	max-height: 100%;
}

.height-100 {
	height: 100%;
}

.no-padding {
	padding: 0;
}

.lyric {
	padding: 0.5em;
}

.buttons {
	text-align: center;
}

.btn {
	width: 49%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	border-radius: 0;
	color: #ddd;
}

.btn-success {
	background-color: rgba(92,184,92,.5);
    border-color: rgba(76,174,76,.5);
}

.btn-info {
	background-color: rgba(91,192,222,.5);
    border-color: rgba(70,184,218,.5);
}

.preview-iframe {
	margin: 10% auto 0 auto;
	height: 10%;
	width: 50%
}