div {
	border: red 1px dashed;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}

body:before {
	content: "";
	position: absolute;
/*	background: url('../img/e5f5a50956c2c7dd5411051ca507b4f771d6d816.jpg');
	background: url('../img/ddde54f8e79714523603388c3f76d136539bdb56.jpg');*/
	background: url('../img/d93d22956919a0878b494f5b09230074b1c5dd43.jpg');
	background-size: cover;
	z-index: -1;
	height: 20%;
	width: 20%;
	filter: brightness(.05);
	filter: blur(2px);
	-webkit-filter: brightness(.05);
	-webkit-filter: blur(2px);
	-moz-filter: brightness(.05);
	-moz-filter: blur(2px);
	-webkit-transform: scale(5);
	-webkit-transform-origin: top left;
}

.row {
	padding: 0;
	margin: 0;
}

.main {
	margin: 3%;
}

.title {
	color: #eee;
	/*margin: 3%;*/
	background: rgba(0,0,0,.3)
}

.subtitle {
	font-size: 1em;
}

.main {
	height: 100%;
	margin: 2%;
	padding: 0;
}

.app {
	height: 70%;
}

.album-art {
/*	padding-top: 2%;*/
	margin 0;
	padding: 1% 0 0 0;
	height: 100%;
}

img {
	max-height: 100%;
}

.height-100 {
	height: 100%;
}